body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'PorscheNext Regular';
  src: url(./Fonts/PorscheNext-Regular.otf);
}
@font-face {
  font-family: 'PorscheNext SemiBold';
  src: url(./Fonts/PorscheNext-SemiBold.otf);
}
@font-face {
  font-family: 'PorscheNext Bold';
  src: url(./Fonts/PorscheNext-Bold.ttf);
}
@font-face {
  font-family: 'PorscheNext Italic';
  src: url(./Fonts/PorscheNext-Italic.ttf);
}
@font-face {
  font-family: 'PorscheNext Thin';
  src: url(./Fonts/PorscheNext-Thin.otf);
}
@font-face {
  font-family: 'PorscheNext Bold Italic';
  src: url(./Fonts/PorscheNext-BoldItalic.otf);
}
@font-face {
  font-family: 'PorscheNext Thin Italic';
  src: url(./Fonts/PorscheNext-ThinItalic.otf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
