
.carousel-image{
    width: 100%;
}

.carousel-card-content{
    top: calc(75%);
    left: calc(6%);
    display: flex;
    position: absolute;
}

.carousel-card-content-image{
    margin-top: 10px;
    margin-right: 6px;
    width: 16px;
    height: 26px;
}

.carousel-card-content-text{
    margin: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    line-height: 40px;
}

.carousel-card-content-title{
    font-size: 42px;
    font-family:'PorscheNext SemiBold';
    color: #fff;
    margin:0;
}

.carousel-card-content-tagline{
    font-size: 24px;
    font-family:'PorscheNext SemiBold';
    color: #fff;
    margin:0;
}


.carousel-card-content-text:hover{
    .carousel-card-content-tagline {
        color: #d5001c;
    }
    .carousel-card-content-title {
        color: #d5001c;
    }
}