.carousel{
  position: relative;
  display: flex;
  flex-direction: column;
} 

.carousel:hover{
  .carousel-buttons {
    transition: 300ms ease-in;
    opacity: 1;
  }
}

.carousel-buttons {
  opacity: 0;
  transition: 500ms ease-out;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.carousel-buttons > * {
  height: 45px;
  width: 45px;
  margin: 20px;
  border: none;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-buttons button:hover {
  background: #d5001c;
  
  .carousel-button-image {
    width: 40%;
    filter: invert();
  }
}

.carousel-button-image {
  width: 40%;
}


.carousel .carousel-indicators {
  gap: 8px;
}

.carousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  background: #c8cacb;
  border-radius: 100%;
}

.carousel .carousel-indicators li.active {
  background: #d5001c;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}