.cars-carousel{
    position: relative;
}

.cars-carousel-background{
    position: absolute;
    width: 100%;
    height: 110vh;
    z-index: 1 !important;
}

.cars-carousel-data{
    padding: 56px 0 56px 0;
    position: relative;
    width: auto;
    height: 110vh;
    z-index: 2 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: azure;
}

.cars-carousel-filters{
    display: flex;
    align-self: center;
    gap: 20px;
}

.cars-carousel-filters-buttons{
    padding: 0;
    font-family: 'PorscheNext Regular';
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid transparent;
    background: none;
    color: White;
}

.selected{
    font-family: 'PorscheNext SemiBold';
    font-size: 19px;
    border-bottom: 2px solid #d5001c;
}

.cars-carousel-filters-buttons:hover{
    cursor: pointer;
    border: none;
    background: none;
    color: #d5001c;
}

.cars-carousel-cards{
    display: grid;
    grid-auto-flow: column;
    overflow-x: hidden;
}

.cars-carousel-cards-navigator{
    display: flex;
    position: absolute;
    height: 110vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cars-carousel-cards-navigator button{
    z-index: 11 !important;
    box-shadow: 8px 4px 16px 0 rgba(0,0,0,.3);
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cars-carousel-cards-navigator button img{
    height: 16px;
    width: 16px;
}

.cars-carousel-indexes {
    display: flex;
    align-self: center;
}

.card-carousel-card-padder{
    width: 25vw;
}

.snaps-inline-carousel{
    scroll-snap-type: inline mandatory;
}

.snaps-inline-carousel > * {
    scroll-snap-align: middle;
}