.nav-bar{
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 58px;
    padding-right: 58px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgba(148, 149, 152, 0.18);
}

.logo{
    width: 200px;
    height: 17.2px;
    background-size: cover;
    cursor: pointer;
}

.logo-small{
    width: 40px;
    height: 45px;
    background-size: contain;
    cursor: pointer;
}

.empty{
    padding-left: 44px;
    padding-right: 44px;
}

.menu-open{
    display: flex;
    position: absolute;
    z-index: 111;
    top: 0;
    background-color: rgba(33, 35, 41, 0.28);
    backdrop-filter: blur(32px);
    height: 100vh;
    width: 100%;
}

.back-button{
    margin: 24px;
    width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    border: 3px solid white;
    background-color: transparent;
    object-fit: contain;
    object-position: center center;
    border-radius: 5px;
}

.back-button:hover{
    border: 3px solid;
    border-radius: 5px;
    background-color: rgba(148, 149, 152, 0.18);
    border-color: rgb(136, 137, 140);
    backdrop-filter: blur(32px);
}

.back-button-image{
    margin: 0;
    padding: 0;
    width: 14px;
    height: 14px;
    filter: invert();
}