.menu{
    cursor: pointer;
    position: relative;
    display: flex;
    width: 70px;
    background: transparent;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    border-radius: 5px;
}

.menu:hover{
    transition: 0.3s ease-in-out;
    background:#d4d4d4;
}

.menu-bar{
    align-self: center;
    justify-self: center;
    scale: .75;
}

.menu-text{
    margin-top: 1px;
    pointer-events: none;
    font-family: 'PorscheNext Thin';
    font-weight: bold;
    font-size: 15px;
}

@media screen and (max-height: 480px) {
    .menu-text{
        visibility: collapse;
        margin-top: 1px;
        font-family: 'PorscheNext Thin';
        font-weight: bold;
        font-size: 1px;
    }
}
